#rodape {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.redfoot {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.todosd {
    margin: 20px;
}