* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.styled-button {
    background-color: #6200ea;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.styled-button:hover {
    background-color: #3700b3;
    color: #00FD0A;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.styled-button:active {
    background-color: #3700b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

@media screen and (max-width: 1823px) {
    .styled-button {
       
        font-size: 1.3rem;
      
    }
 }